<script src="/javascripts/gamescript.js"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/javascripts/d3.layout.cloud.js"></script>

<p style="text-align:center;"><a href="/"><img class = "centerMe" src="/images/emojigametitle.png"></a></p>
<p>The way the game works is as follows:</p>

<p>You are to guess which songs from the billboard top 100 song a certain song is</p>


<p> these are the current top 100 </p>


<div class="billboard100SongsPrint">
  {{{title}}}
  <br>
  {{{artist}}}
  <br>
</div>
