<!DOCTYPE HTML>

<html lang="en-US">
<head>
  <!-- <meta http-equiv="content-type" content="text/html; charset=UTF-8"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel='stylesheet' href='/stylesheets/tiles.css' />
  <script src="/javascripts/modal.js"></script>
  <style type="text/css">

  </style>
</head>
<body>

  <!-- <div class = "pilot-body">
    <p>I started coding freshman year of college by having an entrepreneurial idea, called Pilot </p>

  </div> -->
  <!-- p5 sketch -->
  <div id = "pilot-body">
    <div id = "pilot-description">
      <h2 style="padding-top:30px;">Coding a Chrome Extension</h2>
      <img class="pilot-pic1"src = "/images/projects/GG3.png" hspace="20">
      <p style="text-align:left;">
        Coupled with the Netflix revival series of Gilmore Girls, I adventured to play with the P5.js library and GIPHY API
        <br>
        <br>
        The Gilmore Girls Chrome Extension, aka Gilmorning, randomly generates a new gif about the Gilmore Girls TV show<br>
        It also randomly picks a book from the Rory Gilmore book list, which I coded as a list.
      </p>

    </div>

  </div>
  <div id = "pilot-right-column">
      <div id = "pilot-experiences" class="content">
        <h2 class = "header" style="padding-top: 30px;"> Backstory </h2>
        <ul id = "work-place">
          <b class="important"> Coding</b> |
          <b class="work"> I started coding this application and deployed it while at Grace Hopper in 2016. </b><br><br>
          <b class = "important"> Timeline/Thought Process </b>|
          <b class="work"> I did not wireframe this project. Rather I used a blank HTML page for a abse template, learned how to randomly create squares with P5.js and animate them around the screen, and worked with the GIPHY API for the first time.</b><br><br>
          <b class = "important"> Github </b>|<br>
          <b class="work">
            You can see the code <a href="https://github.com/sanjuverm/gilmore-girls-chrome-extension"> on Github here</a><br>
            You can download the <a href="https://chrome.google.com/webstore/detail/gilmore-ning/hcdllaknjeejdkkcmffkngmbechogegp">  Chrome extension here </a><br><br>

            <button class="button-project" style="vertical-align:middle; color: #ffffff"><span><a href="/projects">Back to Projects </a></span></button>
          </b>
        </ul>
      </div>

  </div>
</body>
<body>

</body>
