<!DOCTYPE html>
<html lang='en'>
<head>

</head>

<body>
  <div class="body2">
    <div id='particles-js'>
      <div class='intro-rect'>
        <h1 class='fade-in one anyclass-a'>Hi, I'm Sanjna</h1>
        <div class='fade-in two anyclass-c'>
          <p>I'm a software engineer with a passion for web development studying
          at <a href = 'http://nyu.edu' style="color: rgb(155, 89, 182);">New York University</a>.
          </p>
          <p>This site is a work in progress, deployed with Google Domains and Heroku.<br>
          You can contact me here to get to know me more!</a>.
          </p>
        </div>
        <div class='links fade-in three'>
          <!-- <a href='mailto:'>
            <span class="fa-stack">
              <i class='fa fa-circle fa-stack-2x'></i>
              <i class='fa fa-envelope fa-stack-1x fa-inverse'></i>
            </span>
          </a> -->
          <a href='http://twitter.com/_sanjuverm'>
            <span class="fa-stack">
              <i class='fa fa-circle fa-stack-2x'></i>
              <i class='fa fa-twitter fa-stack-1x fa-inverse'></i>
            </span>
          </a>
          <a href='http://github.com/sanjuverm'>
            <span class="fa-stack">
              <i class='fa fa-circle fa-stack-2x'></i>
              <i class='fa fa-github-alt fa-stack-1x fa-inverse'></i>
            </span>
          </a>
          <a href='http://linkedin.com/in/sanjnaverma'>
            <span class="fa-stack">
              <i class='fa fa-circle fa-stack-2x'></i>
              <i class='fa fa-linkedin fa-stack-1x fa-inverse'></i>
            </span>
          </a>
          <a href="/images/resume.pdf" style="color: rgb(155, 89, 182);">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-file-pdf-o fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
