<!DOCTYPE html>
<html>
  <head>
    <!-- <title>{{title}}</title> -->
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Sanjna Verma | Software Engineer</title>
    <!-- <link rel='stylesheet' href='/stylesheets/reset.css' /> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet'>

    <!-- nav bar -->
    <div class= "navbar1">
      <ul>
        <li><a class="active" href="index.html">Home</a></li>
        <li><a href="design.html">Design</a></li>
        <li class="dropdown">
          <a href="writing.html" class="dropbtn">Writing</a>
          <!-- <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div> -->
        </li>
      </ul>
    </div>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
