<!DOCTYPE html>
<html>
  <head>
    <!-- <title>{{title}}</title> -->
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Sanjna Verma | Software Engineer</title>
    <!-- <link rel='stylesheet' href='/stylesheets/reset.css' /> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
    <script src='http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
    <script src='/javascripts/particles.config.js'></script>

          <!-- <a href="writing.html" class="dropbtn">Writing</a> -->
          <!-- <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div> -->

    <nav class="navbar navbar-light bg-faded">
  <!-- <a class="navbar-brand" href="#">Sanj++</a> -->
  <a class="navbar-brand" href="/"><img class = "navbarPicHeader" src="/images/sanjlogo.png" alt=""></a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Design</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Writing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>
  <!-- <form class="form-inline pull-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form> -->
</nav>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
