<!DOCTYPE HTML>

<html lang="en-US">
<head>
  <!-- <meta http-equiv="content-type" content="text/html; charset=UTF-8"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel='stylesheet' href='/stylesheets/tiles.css' />
  <script src="/javascripts/modal.js"></script>
  <style type="text/css">

  </style>
</head>
<body>

  <!-- <div class = "pilot-body">
    <p>I started coding freshman year of college by having an entrepreneurial idea, called Pilot </p>

  </div> -->
  <!-- p5 sketch -->
  <div id = "pilot-body">
    <div id = "pilot-description">
      <h2 style="padding-top:30px;">Pilot</h2>
<img class="pilot-pic1"src = "/images/projects/pilotcrop.jpeg" hspace="20">
      <p style="text-align:left;">
        Imagine having to go to the airport, then the library, then home, then school, and in between run errands and pick up groceries: no application on a mobile interface allows you to pick the most time efficient route or pulls deals that save both time and money. <br><br>

        Pilot is a multi-destinational routing system that uses various social media forms to pivot user experience to enhance efficiency and functionality: to route multiple destinations in order of time efficiency or in the inputted order.

      </p>

    </div>

  </div>
  <!-- <div id = "sketch"> -->
  <div id = "pilot-right-column">
    <!-- <div id="right-column-content"> -->
      <div id = "pilot-experiences" class="content">
        <h2 class = "header" style="padding-top: 30px;"> Backstory </h2>
        <ul id = "work-place">
          <b class="important"> Coding</b> |
          <b class="work"> I started coding when I thought of this idea. I tried to learn how to create a nascent web app using the JS Google Maps API but I soon learned that my site was very slow. It introduced me to web development, and I loved learning how to implement a backend system for both web apps and mobile systems. </b><br><br>
          <b class = "important"> Timeline </b>|
          <b class="work"> I wireframed, learned iOS (and failed at creating a mobile app), then built an web platform for Pilot. Pilot was entered in several enterpreneurial competitions. Pilot won 1st place with the Entrepreneurship@NYU competition, Quarter-finalist with the Harvard Women in Business Innovation competition, and Semi-finalist with Princeton TigerLaunch </b><br><br>
          <b class = "important"> Wireframes </b>|<br>
          <b class="work">
            <img class="pilot-pic"src = "/images/projects/pilotwireframes.png">
          </b>
        </ul>
      </div>

    <!-- </div> -->
  </div>
</body>
<body>

</body>
