<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <!-- <meta http-equiv="content-type" content="text/html; charset=UTF-8"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel='stylesheet' href='/stylesheets/tiles.css' />
  <script src="/javascripts/modal.js"></script>
  <style type="text/css">

  </style>
</head>
<body class="no-touch">

  <div class="wrap">

  <!-- Define all of the tiles: -->
  <div class="box">
    <div class="boxInner">

      <img src="/images/projects/GG3.png" />

      <a href = "https://chrome.google.com/webstore/detail/gilmore-ning/hcdllaknjeejdkkcmffkngmbechogegp">
        <div class="titleBox">Gilmore Girls Chrome Extension</div>
      </a>
    </div>
  </div>
  <div class="box">
    <div class="boxInner">
      <img src="/images/projects/pilot.jpg" />
      <a href="/pilot"><div class="titleBox">Pilot</div></a>
    </div>
  </div>

  <div class="box">
    <div class="boxInner">
      <img src="/images/projects/united_flight_page.png" />
      <div class="titleBox">United Home Page Redesign</div>
    </div>
  </div>
  <div class="box">
    <div class="boxInner">
      <img src="/images/projects/fashionisha-after.png" />
      <div class="titleBox">FashionNisha Logo Redesign</div>
    </div>
  </div>

  <div class="box">
    <div class="boxInner">
      <img src="/images/projects/emojisquare.png" />
      <div class="titleBox">The Emoji Game</div>
    </div>
  </div>
  <div class="box">
    <div class="boxInner">
      <img src="/images/IMG_6242.JPG" />
      <div class="titleBox">Sentiment Analysis</div>
    </div>
  </div>
  <div class="box">
    <div class="boxInner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/4.jpg" />
      <div class="titleBox">Photo Taking</div>
    </div>
  </div>
  <div class="box">
    <div class="boxInner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/5.jpg" />
      <div class="titleBox">Travel</div>
    </div>
  </div>
  <!-- <div class="box">
    <div class="boxInner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/8.jpg" />
      <div class="titleBox">The garden blueprint</div>
    </div>
  </div>
  <div class="box">
    <div class="boxInner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/9.jpg" />
      <div class="titleBox">The patio</div>
    </div>
  </div>
  <div class="box">
    <div class="boxInner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/11.jpg" />
      <div class="titleBox">Bumble bee collecting nectar</div>
    </div>
  </div>
  <div class="box">
    <div class="boxInner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/12.jpg" />
      <div class="titleBox">Winding garden path</div>
    </div>
  </div> -->

</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script type="text/javascript">
$(function(){
   // See if this is a touch device
   if ('ontouchstart' in window)
   {
      // Set the correct [touchscreen] body class
      $('body').removeClass('no-touch').addClass('touch');

      // Add the touch toggle to show text when tapped
      $('div.boxInner img').click(function(){
         $(this).closest('.boxInner').toggleClass('touchFocus');
      });
   }
});
</script>

</body>
</html>
