<!DOCTYPE HTML>

<html lang="en-US">
<head>
  <!-- <meta http-equiv="content-type" content="text/html; charset=UTF-8"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel='stylesheet' href='/stylesheets/tiles.css' />
  <script src="/javascripts/modal.js"></script>
  <style type="text/css"> </style>
</head>
<body>

  <!-- <div class = "pilot-body">
    <p>I started coding freshman year of college by having an entrepreneurial idea, called Pilot </p>

  </div> -->
  <!-- p5 sketch -->

  <div id = "pilot-body">
    <div id = "pilot-description">
      <h2 style="padding-top:30px;">United.com</h2>
      <!-- <img class="pilot-pic1"src = "/images/projects/pilotcrop.jpeg" hspace="20"> -->
      <p style="text-align:left;">
        I decided to redesign a frequented site: www.united.com. I haven’t ever found the design of the website particularly friendly nor have I really enjoyed looking at it. I wanted to pick up the habit of design again and took a stab at it.
Definitely a problem with the website is how to optimize it: United provides so many services and products (which isn’t a bad thing per se) that it’s very difficult to piece it together in a cohesive unit that is both functioning and aesthetically pleasing.
Here’s my version of united.com. It’s still in the works and more pictures to come but definitely let me know what you think about it! Any and all feedback is welcome ☺
      </p>
    </div>
  </div>
  <div id = "pilot-right-column">
      <div id = "pilot-experiences" class="content">
        <h2 class = "header" style="padding-top: 30px;"> Backstory </h2>
        <ul id = "work-place">
          <p></p>
          <b class="important"> <img class="pilot-pic1"src = "/images/projects/united_flight_page.png" hspace="20"> <img class="pilot-pic1"src = "/images/projects/united_home_page.png" hspace="20"></b>
          <b class="important"> </b>
        </ul>
      </div>

  </div>
</body>
<body>

</body>
