<br><br><br>

<h1 class='fade-in one anyclass-a bodyheader'>I enjoy writing in my spare time</h1>
<div class='fade-in two anyclass-c bodyheader'>
  <p>I'm lucky enough to have some of writing featured on Huffington Post and TechCrunch.
    <br>I'm currently updating my blog so that acts more as a <a href="http://www.nocityfornomads.com">space for my writing</a>, and every month, I write a <a href="http://tinyletter.com/sanjuverm">Product Manager Story </a>
    <br>
  </p>
</div>

<div class="fade-in three anyclass-c">
  <div id="container4">
  	<div id="container3">
  		<div id="container2">
  			<div id="container1">
  				<div id="col1">
  					<!-- Column one start -->
            <br>
  					<h2>Huffington Post</h2>
  					<p>Started writing for the Huffington Post a little over a year ago now. I get to write about a whole range of topics</p>
  					<h2>Some things I've written about:</h2>
  					<p>
              <a href="http://www.huffingtonpost.com/sanjna-verma/wearable-technologies-sci_b_8080006.html?"  >Wearable Technology</a> <br>
              <a href="http://www.huffingtonpost.com/sanjna-verma/how-to-apply-for-college-_b_8327364.html?" class="links">The College Application Process</a> <br>
              <a href="http://www.huffingtonpost.com/sanjna-verma/angst-by-social-media-mas_b_8456436.html?" class="links">Social Media Ergonomics</a> <br>
              <a href="http://www.huffingtonpost.com/sanjna-verma/new-years-food-mood_b_8908344.html?" class="links">Food Technology</a> <br>
              <a href="http://www.huffingtonpost.com/sanjna-verma/ipoed-technyu-offering-th_b_9577970.html?" class="links">April's Fool Story on an IPO</a> <br>
              <a href="http://www.huffingtonpost.com/sanjna-verma/thaime-to-tell-a-story_b_10918678.html?" class="links">Geostory Telling Through Film</a> <br>
              <a href="http://www.huffingtonpost.com/sanjna-verma/what-i-wish-i-knew-about-_2_b_11553542.html?" >Hackathons</a> <br>
              <a href="http://www.huffingtonpost.com/sanjna-verma/when-things-trend-wrong_b_12003180.html?"  >Facebook News Trends</a> <br>
            </p>
  					<!-- Column one end -->
  				</div>
  				<div id="col2">
  					<!-- Column two start -->
            <br>
  					<h2>Tech Crunch</h2>
  					<p>When it comes to enterprising startups, I was able to contribute a story to Tech Crunch in February of this year. </p>
  					<h2>BOXFOX</h2>
  					<p>BOXFOX is one of LA's coolest startups, in my opinion. The three female cofounders are enhancing strategy and technology to make one of life’s favorite moments, gift giving, easier and more customizable than ever before. <a href="http://techcrunch.com/2016/03/01/meet-the-foxes-behind-las-latest-startup-gem/"  >You can read the TechCrunch feature I wrote here!</a></p>
  					<!-- Column two end -->
  				</div>
  				<div id="col3">
  					<!-- Column three start -->
            <br>
  					<h2>Side Writing</h2>
  					<p>I like to write about my travels (as does anyone), and share it on my <a href="http:www.instagram.com/sanjuverm"  >Instagram</a> as well as my Squarespace blog.</p>
  					<h2>Product Manager Stories</h2>
  					<p>A purposeful play on words, I wanted PMS to be a monthly newsletter that focuses on a cool PM in industry and/or if I were lucky enough to be a PM at a firm, how I would run a certain feature. My first PM Story was if I were a PM working on Instagram Stories.</p>
  					<!-- Column three end -->
  				</div>
  				<div id="col4">
  					<!-- Column four start -->
            <br>
  					<h2>Features</h2>
  					<p>Sometimes people think I do cool things, too!</p>
  					<p><a href = "https://medium.com/@ReigningIt/women-who-reign-sanjna-verma-15c3a387c8f9#.hbtpj8cy2"  >Women Who Reign</a><br>
            <a href = "https://blog.techatnyu.org/new-member-profile-sanjna-verma-6d331e9d914d#.xix27jg04"  >Tech@NYU</a><br>
            <a href = "http://hackersofny.com/post/97526712825/youre-on-your-way-to-class-and-you-have-to-pick"  >Hackers of NY</a><br></p>
            <p>I've also been featured on panels and conferences around NYC and if you're interested in collaborating on a conference/panel/project, drop me a note on Twitter.</p>
  					<!-- Column four end -->
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</div>
