<br><br><br>

<h1 class='fade-in one anyclass-a bodyheader'>I enjoy writing in my spare time</h1>
<div class='fade-in two anyclass-c bodyheader'>
  <p>I'm lucky enough to have some of writing featured on Huffington Post and TechCrunch.
    <br>I'm currently updating my blog so that acts more as a <a href="http://www.nocityfornomads.com">space for my writing</a>, and every month, I write a <a href="http://tinyletter.com/sanjuverm">Product Manager Story </a>
    <br>
  </p>
</div>

<div class="fade-in three anyclass-c">
  <div id="container4">
  	<div id="container3">
  		<div id="container2">
  			<div id="container1">
  				<div id="col1">
  					<!-- Column one start -->
            <br>
  					<h2>Huffington Post</h2>
  					<p>Started writing for the Huffington Post a little over a year ago now. I get to write about a whole range of topics</p>
  					<h2>Some things I've written about:</h2>
  					<p>
              <a href="http://www.huffingtonpost.com/sanjna-verma/wearable-technologies-sci_b_8080006.html?">Wearable Technology</a> <br>
              <a href="http://www.huffingtonpost.com/sanjna-verma/how-to-apply-for-college-_b_8327364.html?">The College Application Process</a> <br>
              <a href="http://www.huffingtonpost.com/sanjna-verma/angst-by-social-media-mas_b_8456436.html?">Social Media Ergonomics</a> <br>
              <a href="http://www.huffingtonpost.com/sanjna-verma/new-years-food-mood_b_8908344.html?">Food Technology</a> <br>
              <a href="http://www.huffingtonpost.com/sanjna-verma/ipoed-technyu-offering-th_b_9577970.html?">April's Fool Story on an IPO</a> <br>
              <a href="http://www.huffingtonpost.com/sanjna-verma/thaime-to-tell-a-story_b_10918678.html?">Geostory Telling Through Film</a> <br>
              <a href="http://www.huffingtonpost.com/sanjna-verma/what-i-wish-i-knew-about-_2_b_11553542.html?">Hackathons</a> <br>
              <a href="http://www.huffingtonpost.com/sanjna-verma/when-things-trend-wrong_b_12003180.html?">Facebook News Trends</a> <br>
            </p>
  					<!-- Column one end -->
  				</div>
  				<div id="col2">
  					<!-- Column two start -->
            <br>
  					<h2>Tech Crunch</h2>
  					<p>When it comes to enterprising startups, I was able to contribute a story to Tech Crunch in February of this year. </p>
  					<h2>You can read about it here</h2>
  					<p>JavaScript is not required. Some website layouts rely on JavaScript hacks to resize divs and force elements into place but you won't see any of that nonsense here.</p>
  					<!-- Column two end -->
  				</div>
  				<div id="col3">
  					<!-- Column three start -->
            <br>
  					<h2>Features</h2>
  					<p>The HTML in this layout validates as XHTML 1.0 strict.</p>
  					<h2>This layout is FREE for anyone to use</h2>
  					<p>You don't have to pay anything. Simply view the source of this page and save the HTML onto your computer. My only suggestion is to put the CSS into a separate file. If you are feeling generous however, link back to this page so other people can find and use this layout too.</p>
  					<!-- Column three end -->
  				</div>
  				<div id="col4">
  					<!-- Column four start -->
            <br>
  					<h2>Cross-Browser Compatible</h2>
  					<p>This 4 column layout has been tested on the following browsers:</p>
  					<h3>iPhone &amp; iPod Touch</h3>
  					<ul>
  						<li>Safari</li>
  					</ul>
  					<h3>Mac</h3>
  					<ul>
  						<li>Safari</li>
  						<li>Firefox</li>
  						<li>Opera 9</li>
  						<li>Netscape 7 &amp; 9</li>
  					</ul>
  					<h3>Windows</h3>
  					<ul>
  						<li>Firefox 1.5, 2 &amp; 3</li>
  						<li>Safari</li>
  						<li>Opera 8 &amp; 9</li>
  						<li>Explorer 5.5, 6 &amp; 7</li>
  						<li>Google Chrome</li>
  						<li>Netscape 8</li>
  					</ul>
  					<!-- Column four end -->
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</div>
